{% extends 'index.html'%}

{% block content %}
<!-- slider -->
<!-- source: https://github.com/seiyria/bootstrap-slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/bootstrap-slider.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/css/bootstrap-slider.min.css"></script>

<div class="row">
<div class = ".col-4 mx-auto">
    <div class ="card">
        <div class="card-header">LED Matrix</div>
        <div class= "card-body" id = "pixel-grid"></div>
    </div>
</div>

<div class =".col-8 mx-auto">
{% include 'slider.html'%}
</div>
</div>
{% endblock %}



{% block script %}
<script src="{{url_for('static', filename='js/grid.js')}}"></script>
<script>
	// References to flask methods for accessing directly from javascript
	var setPixel = {{ url_for('setPixel')|tojson }};
	var fillWithColor = {{ url_for('fillWithColor')|tojson }};
</script>
{% endblock %}